<section class="mb-5 bg">
    <div style="background: rgba(1,1,1, 0.2); height: 100vh;">
        <h1 class="display-2 text-center welcome holoFont">Welcome to my website!</h1>
    </div>
</section>

<section class="col-sm-12 sections" id="projectSection">
    <div class="container-fluid">

        <h2 class="text-center display-4 holoFont my-5">About this project</h2>
        <div class="container col-sm-12 col-md-9">
            <div class="row justify-content-between">
                <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
                    <h3 class="text-center">Reason for this project</h3>
                    <p>The reason behind this project can be split into two. The first is for acedemic purposes, since
                        this
                        is a graded
                        assignement. The second reason for this project is to test all the knowledge I've gained
                        throughout
                        the entire semester.
                        This semester the main topics were Bootstrap, Angular and Typescript.
                    </p>
                    <h5>Bootstrap</h5>
                    <p>In Bootstrap we learned to use Containers,
                        adapt Bootstrap Templates, make the website Responsive and code faster with Bootstrap styles.
                    </p>
                    <h5>Angular</h5>
                    <p>In Angular we learned to about Components, the angular files,
                        the commands and the power of angular to create SPA websites like this one</p>
                    <h5>Typescript</h5>
                    Typescript was used for writing Get, Post, Put, Delete methods as well as other methods for
                    validation.
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
                    <h3 class="text-center">Goal of this project</h3>
                    <p>My personal goals:
                        The goal of this project is to test my skills with the deadline given and spread the love for
                        Hololive. In this project i'm expected to make use of Containers, Margins, Table, Card, Footer,
                        Navbar, Forms, and the Responsiveness of the website</p>
                    <ul class="list-group">
                        <li class="list-group-item"> Create a responsive website</li>
                        <li class="list-group-item"> Make the website look good to the eyes</li>
                        <li class="list-group-item"> Contribute to sharing Hololive to others</li>
                        <li class="list-group-item"> Use modern web design techniques</li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
                    <h3 class="text-center">Future of this project</h3>
                    <p>This project is by no means perfect and I expect to bring modifications to it. In the future the
                        website will be more modern as I learn more techniques and ways to design it.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam suscipit facere magni nulla
                        recusandae, numquam harum quibusdam porro, at, temporibus nemo ab perferendis culpa. Assumenda
                        atque impedit aperiam necessitatibus odit error a unde nobis veniam, vitae molestiae, non harum
                        amet aut voluptate nostrum sed quas iste esse sint nesciunt! Nobis eius adipisci vel recusandae
                        ut laudantium ex quibusdam labore alias nostrum dolore, maiores iste numquam deleniti debitis
                        cupiditate eos aperiam quas doloribus quaerat! Qui laudantium rem porro quidem, sequi eaque nisi
                        aut odio amet molestiae quae magnam quis ut officiis rerum veniam facilis nemo necessitatibus
                        dolorum voluptatibus vel ipsa perspiciatis!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="col-sm-1 col-md-12 pt-3 mb-5 pb-5" id="projectHololive">
    <div class="container-fluid">
        <h2 class="text-center text-white display-4 holoFont mt-5">Project Hololive</h2>
        <div class="text-center">
            <img class="" [src]="['../../../assets/image/idols.png']" alt="idols" style="height: 65%; width: 65%;">
        </div>
        <div class="container col-sm-12 col-md-6 mb-5">
            <div class="bg-light rounded py-3">
                <h3 class="holoFont holoText text-center">What is hololive?</h3>
                <div class="container">
                    <p>Hololive Production (Japanese: ホロライブプロダクション, Hepburn: Hororaibu Purodakushon) is a virtual
                        YouTuber (VTuber) talent agency owned by Cover Corp. and formed in December 2019.[a] Popular
                        VTubers managed by the agency include Inugami Korone, Shirakami Fubuki, Usada Pekora, Minato
                        Aqua, Houshou Marine, Kiryu Coco, Akai Haato, and Gawr Gura. Unlike VTubers like Kizuna AI,
                        talents focus on live streaming over pre-recorded videos, with regular live activities including
                        singing, gaming, and chatting.
                    </p>
                    <p>Initially, the name Hololive was used for Cover's 3D stream distribution app, and later its
                        female VTuber agency. In December 2019, Hololive was combined with the male Holostars agency and
                        INoNaKa (INNK) Music label to form a single brand named "Hololive Production". In 2019 and 2020,
                        Hololive debuted three overseas branches: Hololive China (since disbanded), Hololive Indonesia,
                        and Hololive English.</p>
                    <p>As of September 2020, Hololive-affiliated talents have more than 10 million combined subscribers
                        on both YouTube and Chinese video platform Bilibili.</p>
                    <p class="text-right">- source: wikipedia*</p>
                </div>
            </div>
        </div>
    </div>
</section>