<footer class="p-3" style="background-color: #6dd1e3;">
    <div class="text-center mb-4">
        <h1 class="text-white display-4 mb-4">Follow Hololive on social medias!</h1>
    </div>

    <div class="text-center">
        <a href="https://www.facebook.com/hololivetv/" target="_blank" class="mx-4"><i class="fab fa-facebook fa-2x "></i></a>
        <a href="https://www.youtube.com/channel/UCJFZiqLMntJufDCHc6bQixg" target="_blank" class="mx-4"><i
                class="fab fa-youtube fa-2x text-danger"></i></a>
        <a href="https://twitter.com/hololivetv" target="_blank" class="mx-4"><i class="fab fa-twitter fa-2x"
                style="color: #0095ff;"></i></a>
        <p class="text-white mt-2 mb-0">&copy; Copyright 2020 - Made by Zi Yu Chen </p>
    </div>
</footer>